@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.app {
    color: white;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 2.5rem;
}

.btn{
    background-color: rgb(10, 112, 48);
    padding: 1rem 2.3rem;
    border-radius: 5000px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    border: 1px solid #fff;
}

.btn:hover {
    background-color: rgb(5, 64, 27);
}

img {
    user-select: none;
}

.active {
    color: aqua;
}