.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.charactersList {
    margin-top: 2rem;
    width: 80%;
    text-align: center;
}

.charactersCointaner {
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    gap: 2rem;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.loading {
    text-align: center;
}

.containerLoading {
    margin-top: 2rem;
    text-align: center;
}

.input {
    padding: 1rem 2.5rem;
    border-radius: 20px;
    border: 2px solid black;

}

.inputContain {
    position: relative;
}

.glass {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 17px;
    left: 12px;
}

.dontFound {
    margin-top: 30px;
    font-size: 1.5rem;
}