.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}



.quote{
    border-top: 1px solid white;
    margin: 5rem;
    font-size: 2.2rem;
    text-align: center;
}