.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

.quote{
    border-top: 1px solid white;
    margin: 5rem;
    font-size: 2.2rem;
    text-align: center;
    height: 150px;
    padding-top: 0.5rem;
}

.btn{
    background-color: rgb(10, 112, 48);
    padding: 1rem 2.3rem;
    border-radius: 5000px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgb(5, 64, 27);
}